#! /usr/bin/env bash

. /etc/profile

SLACK_CHANNEL="<%= @slack_channel %>"
SLACK_URL="<%= @slack_webhook_url %>"
SLACK_USERNAME="$(hostname) Flannel Probe [${CLUSTER_REGION_NAME:-unknown}]"

PATH=$PATH:/sbin

ifconfig flannel.1 >> cron.out &>/dev/null

if [ $? -ne 0 ]; then
  /usr/local/bin/notify_slack.sh -h "$SLACK_URL" \
                                 -c "$SLACK_CHANNEL" \
                                 -C danger \
                                 -u "$SLACK_USERNAME" \
                                 -m "Flannel network interface is missing. Restarting the docker service is required." \
                                 &>/dev/null
fi
