#!/usr/bin/env bash

#
# The aim of this script is to check if all the TincVPN members are reachable
# and if not to send an alert to Slack.
#

. /etc/profile

SLACK_CHANNEL="<%= @slack_channel %>"
SLACK_URL="<%= @slack_webhook_url %>"
SLACK_USERNAME="$(hostname) TincVPN Check [${CLUSTER_REGION_NAME:-unknown}]"
TINC_BASEDIR=/etc/tinc

while true
do
  # Retrieves the Tinc network names
  NETWORKS=$(cat $TINC_BASEDIR/nets.boot)

  for network in $NETWORKS
  do
    # Skip if not network folder found matching its name
    [ ! -d "$TINC_BASEDIR/$network" ] && continue

    # Retrieves the node's private IP address so that we can ignore any wrong
    # host file from the network's hosts folder.
    NET_NODE_IP=$(ifconfig $network | grep inet | awk '{print $2}')

    for hostfile in $TINC_BASEDIR/$network/hosts/*
    do
      NETWORK_HOST_SUBNET=$(cat $hostfile | grep Subnet)
      # Skip if no Subnet found
      [ -z "$NETWORK_HOST_SUBNET" ] && continue

      NETWORK_HOST_PRIVATE_IP=$(echo $NETWORK_HOST_SUBNET \
                                | awk '{print $3}' \
                                | awk -F '/' '{print $1}')
      # Invalid Subnet
      [ -z "$NETWORK_HOST_PRIVATE_IP" ] && continue
      # This node's private IP address
      [ "$NETWORK_HOST_PRIVATE_IP" == "$NET_NODE_IP" ] && continue

      ping -4 -c 1 -I $network -w 1 $NETWORK_HOST_PRIVATE_IP &>/dev/null
      PING_EXIT=$?

      if [ ! "$PING_EXIT" -eq 0 ]; then
        MESSAGE="FAILURE $(basename $hostfile) ($NETWORK_HOST_PRIVATE_IP) was not reachable from interface $network. Ping command exited with $PING_EXIT."
        echo $MESSAGE

        /usr/local/bin/notify_slack.sh -h "$SLACK_URL" \
                                       -c "$SLACK_CHANNEL" \
                                       -C danger \
                                       -u "$SLACK_USERNAME" \
                                       -m "$MESSAGE" \
                                       &>/dev/null
      fi
    done
  done

  sleep 3
done
